<po-page-default
  p-title=""
  >

<h2 class="po-font-title">About AppPokemon</h2>

  <section class="po-m-2">
    <h3 class="po-font-subtitle po-mb-1">Usabilidade do App</h3>
    <ul class="po-ml-2">
      <li>Consultar a lista de Pokemons disponíveis</li>
      <li>Comparar Peso, Altura, Experiência</li>
      <li>Detalhar a habilidade de cada Pokemon</li>
      <li> Escolher os Pokemons favoritos e visualizar somente eles
      </li>
    </ul>
  </section>

  <section class="po-m-2">
    <h3 class="po-font-subtitle po-mb-1">Detalhes do Pokemon</h3>
    <ul class="po-ml-2">
      <li>Agrupado por área de localização, mostra as principais características</li>
      <li>Permite favoritar o Pokemon</li>
    </ul>
  </section>

  <section class="po-m-2">
    <h3 class="po-font-subtitle po-mb-1">Desenvolvedor</h3>
    <ul class="po-ml-2">
      <li>Rodrigo Costa Bett</li>
      <li><a href="https://github.com/parminhavt/projetos/tree/main/appPokemon" target="_blank" rel="noopener">
      AppPokemon V1</a></li>
    </ul>
  </section>

  <p>
    As APIs utilizadas estão disponíveis em
    <a href="https://pokeapi.co/docs/v2" target="_blank" rel="noopener"
      >Pokeapi.co</a
    >
  </p>

</po-page-default>
